KAMAILIO_AUTHORIZATION_URL=http://laml:9393/auth/kamailio
KAMAILIO_PUBLIC_IP=your.public.ip.here
KAMAILIO_CLUSTER_NONCE=123456789abcdefgh
KAMAILIO_LOCATION="KAMAILIO_DEVELOPMENT"

# registrar
REGISTRAR_REDIS=registrar-redis:6379
REGISTRAR_SENTRY_DSN=
