KAMAILIO_AUTHORIZATION_URL=http://laml:9393/auth/kamailio
KAMAILIO_PUBLIC_IP=your.public.ip.here
KAMAILIO_CLUSTER_NONCE=123456789abcdefgh
KAMAILIO_LOCATION="KAMAILIO_DEVELOPMENT"

# Switchblade Master
SWITCHBLADE_MODE=Master
SWITCHBLADE_MASTER_MODE_REDIS=switchblade-redis:6379
SWITCHBLADE_DAEMON=false
SWITCHBLADE_SESSION_EXPIRATION_TIMEOUT=15
SWITCHBLADE_SERVER_CERTIFICATE=./ca/intermediate/private/master@freeswitch-downstream.pfx
SWITCHBLADE_SWITCHBLADE_LOGGING_LEVEL=Trace
SWITCHBLADE_WEB_HOST_LOGGING_LEVEL=Information
SWITCHBLADE_SENTRY_DSN=
SWITCHBLADE_DUMP=true

# registrar
REGISTRAR_REDIS=registrar-redis:6379
REGISTRAR_SENTRY_DSN=