#!KAMAILIO
#
# Kamailio SIP Server v5.2 - default configuration script
#     - web: https://www.kamailio.org
#     - git: https://github.com/kamailio/kamailio
#
# Direct your questions about this file to: <sr-users@lists.kamailio.org>
#
# Refer to the Core CookBook at https://www.kamailio.org/wiki/
# for an explanation of possible statements, functions and parameters.
#
# Note: the comments can be:
#     - lines starting with #, but not the pre-processor directives,
#       which start with #!, like #!define, #!ifdef, #!endif, #!else, #!trydef,
#       #!subst, #!substdef, ...
#     - lines starting with //
#     - blocks enclosed in between /* */
#

# *** Value defines - IDs used later in config

# - the value for 'use_domain' parameters
#!define MULTIDOMAIN 1

# - flags
#   FLT_ - per transaction (message) flags
#    FLB_ - per branch flags
#!define FLT_ACC 1
#!define FLT_ACCMISSED 2
#!define FLT_ACCFAILED 3
#!define FLT_NATS 5

#!define FLB_NATB 6
#!define FLB_NATSIPPING 7

####### Global Parameters #########

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=3
log_stderror=no

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes */
children=4

enable_tls=yes

tcp_children=24
/* life time of TCP connection when there is no traffic
 * - a bit higher than registration expires to cope with UA behind NAT */
tcp_connection_lifetime=630
tcp_max_connections=16000
tcp_keepalive=yes
tcp_crlf_ping=yes
tcp_keepcnt=5
tcp_keepintvl=3
tcp_connect_timeout=5
tcp_wq_max=20971520 # 10MB
tcp_conn_wq_max=524288 # 512kB

/* dns parameters */
dns_try_ipv6=no
dns_retr_time=1
dns_retr_no=1
# set next to 'no' if no need to use '/etc/resolv.conf' (faster)
dns_use_search_list=yes
dns_srv_lb=no
dns_try_naptr=yes

/* skip reverse dns for filling alias domains */
auto_aliases=no
alias=sip.signalwire.com
alias=sip.swire.io

/* listen on local socket and advertise public address */
listen=udp:KAM_IP_LOCAL:5060 advertise KAM_IP_PUBLIC:5060
listen=tcp:KAM_IP_LOCAL:5060 advertise KAM_IP_PUBLIC:5060
listen=tls:KAM_IP_LOCAL:5061 advertise KAM_IP_PUBLIC:5061
listen=udp:KAM_IP_LOCAL:60605 advertise KAM_IP_PUBLIC:60605
listen=tcp:KAM_IP_LOCAL:60605 advertise KAM_IP_PUBLIC:60605
listen=tls:KAM_IP_LOCAL:61605 advertise KAM_IP_PUBLIC:61605
listen=udp:KAM_IP_OTHER:60600
listen=tcp:KAM_IP_OTHER:60600
listen=tls:KAM_IP_OTHER:60601


####### Modules Section ########

/* set paths to location of modules */
# mpath="/usr/local/lib/kamailio/modules/"

loadmodule "tls.so"
# loadmodule "db_redis.so"
# loadmodule "ndb_redis.so"
loadmodule "jsonrpcs.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "auth.so"
loadmodule "acc.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "counters.so"
loadmodule "dispatcher.so"
loadmodule "nathelper.so"
loadmodule "htable.so"
loadmodule "pike.so"
loadmodule "ipops.so"
loadmodule "debugger.so"
loadmodule "app_lua.so"
loadmodule "http_client.so"
loadmodule "bladec.so"
loadmodule "rtimer.so"
loadmodule "mqueue.so"
# loadmodule "permissions.so"
loadmodule "xhttp.so"
loadmodule "websocket.so"

# ----------------- setting module-specific parameters ---------------


# ----- jsonrpcs params -----
modparam("jsonrpcs", "pretty_format", 1)
/* set the path to RPC fifo control file */
# modparam("jsonrpcs", "fifo_name", "/var/run/kamailio/kamailio_rpc.fifo")
/* set the path to RPC unix socket control file */
# modparam("jsonrpcs", "dgram_socket", "/var/run/kamailio/kamailio_rpc.sock")

# ----- db_redis params -----
# modparam("db_redis", "schema_path", "/usr/local/share/kamailio/db_redis/kamailio")
# modparam("db_redis", "keys", "version=entry:table_name")

# ----- ndb_redis params -----
# modparam("ndb_redis", "server", "name=kamailio-redis;addr=kamailio-redis;port=6379;db=20")

# ----- ctl params -----
/* set the path to RPC unix socket control file */
# modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")

# ----- corex params -----
modparam("corex", "alias_subdomains", "sip.signalwire.com")
modparam("corex", "alias_subdomains", "sip.swire.io")
modparam("corex", "alias_subdomains", "sip.bria-x.org")
modparam("corex", "alias_subdomains", "sip.bria-x.net")
modparam("corex", "alias_subdomains", "sip.softphone.com")
modparam("corex", "alias_subdomains", "sip.mobilevoiplive.com")


# ----- tm params -----
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)
# ignore sips in ruri and use always sip for record-route headers
modparam("rr", "ignore_sips", 1)

# ----- acc params -----
/* what special events should be accounted ? */
modparam("acc", "early_media", 0)
modparam("acc", "report_ack", 0)
modparam("acc", "report_cancels", 0)
/* by default ww do not adjust the direct of the sequential requests.
 * if you enable this parameter, be sure the enable "append_fromtag"
 * in "rr" module */
modparam("acc", "detect_direction", 0)
/* account triggers (flags) */
modparam("acc", "log_flag", FLT_ACC)
modparam("acc", "log_missed_flag", FLT_ACCMISSED)
modparam("acc", "log_extra",
    "src_user=$fU;src_domain=$fd;src_ip=$si;"
    "dst_ouser=$tU;dst_user=$rU;dst_domain=$rd")
modparam("acc", "failed_transaction_flag", FLT_ACCFAILED)

# ----- usrloc params -----
/* enable DB persistency for location entries */
modparam("usrloc", "preload", "location")
modparam("usrloc", "use_domain", MULTIDOMAIN)
modparam("usrloc", "hash_size", 11)
modparam("usrloc", "handle_lost_tcp", 1)
modparam("usrloc", "timer_procs", 2)

# ----- registrar params -----
modparam("registrar", "method_filtering", 1)
# max value for expires of registrations
modparam("registrar", "max_expires", 600)
# set it to 1 to enable GRUU
modparam("registrar", "gruu_enabled", 0)

# ----- nathelper params -----
modparam("nathelper", "natping_interval", 30)
modparam("nathelper", "ping_nated_only", 1)
modparam("nathelper", "sipping_bflag", FLB_NATSIPPING)
modparam("nathelper", "sipping_from", "sip:pinger@signalwire.com")

# params needed for NAT traversal across modules
modparam("nathelper|registrar", "received_avp", "$avp(RECEIVED)")
modparam("usrloc", "nat_bflag", FLB_NATB)

# ----- tls params -----
modparam("tls", "config", "/usr/local/etc/kamailio/tls.cfg")

# ----- pike params -----
modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 16)
modparam("pike", "remove_latency", 4)

# ----- htable params -----
/* ip ban htable with autoexpire after 5 minutes */
modparam("htable", "htable", "ipban=>size=8;autoexpire=300;")
modparam("htable", "htable", "auth=>size=11;autoexpire=30;updateexpire=0;")
modparam("htable", "htable", "project=>size=11;autoexpire=30;updateexpire=0;")

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")

# ----- dispatcher params -----
#!ifdef KAMAILIO_STAGING
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.staging.list")
#!endif
#!ifdef KAMAILIO_US_WEST
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.us-west.list")
#!endif
#!ifdef KAMAILIO_US_EAST
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.us-east.list")
#!endif
#!ifdef KAMAILIO_EU
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.eu.list")
#!endif
#!ifdef KAMAILIO_SE_ASIA
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.se-asia.list")
#!endif
modparam("dispatcher", "flags", 2)

# ----- bladec params -----
modparam("bladec", "config", "/usr/local/etc/kamailio/kamailio-bladec.cfg")

# ----- permissions params -----
# modparam("permissions", "db_url", "redis://kamailio-redis:6379/21")
# modparam("permissions", "load_backends", 1)

# ----- rtimer params -----
# time interval set to 100 mili-seconds
modparam("rtimer", "timer", "name=rtregister;interval=100000u;mode=1")
modparam("rtimer", "exec", "timer=rtregister;route=ksr_rtimer_bladec")

# ----- mqueue params -----
modparam("mqueue", "mqueue", "name=mqregister")

# ----- xhttp params -----
modparam("xhttp", "event_callback", "ksr_xhttp_request")

# ----- websocket params -----
modparam("websocket", "keepalive_mechanism", 1)
modparam("websocket", "keepalive_timeout", 30)

# ----- app_lua params -----
modparam("app_lua", "reload", 1)
modparam("app_lua", "load", "/usr/local/etc/kamailio/kamailio-routing.lua")

####### Routing Logic ########

cfgengine "lua"
